body{
    background-color: black;
}

#meme{
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}

h1{
    text-transform: uppercase;
}

img{
    border: 5px solid white;
    width: 100%;
}
